@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-bg {
  0% {
    background-color: rgb(0, 191, 255);
  }
  20% {
    background-color:  #DC2626;
  }
  40% {
    background-color: #D97706;
  }
  60% {
    background-color: #059669;
  }
  80% {
    background-color: #2563EB;
  }
  100% {
    background-color: rgb(0, 191, 255);
  }
}

.anim {
  animation: rainbow-bg 5s linear ;
}
@keyframes rainbow-bd {
  0% {
    border-color: rgb(0, 191, 255);
  }
  20% {
    border-color: #DC2626;
  }
  40% {
    border-color: #D97706;
  }
  60% {
    border-color: #059669;
  }
  80% {
    border-color: #2563EB;
  }
  100% {
    border-color: rgb(0, 191, 255);
  }
}

.animbd {
  animation: rainbow-bd 5s linear ;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
